# Laravel 基本
/vendor/
/node_modules/
/.env
.env.*
.phpunit.result.cache
.phpactor.json
auth.json

# Laravel ストレージ・ビルド
/storage/*
!storage/.gitignore
/bootstrap/cache/*
!bootstrap/cache/.gitignore
/public/build
/public/storage
/public/hot

# DB & Docker関連
docker/db/data/
docker/db/*.pid
docker/db/*.sock
docker/db/*.err
docker/db/undo_*
docker/db/binlog*
docker/db/ibtmp*

# ログ・キャッシュ
*.log
*.cache
npm-debug.log
yarn-error.log

# OSやIDEのゴミ
.DS_Store
.idea/
.vscode/
*.code-workspace

# dusk
laravel-project/dusk/*
